<html>

    <head>

        <title>Progra IA</title>

        <link rel="stylesheet" href="/static/style.css">

    </head>

    <body>

       
        
        <h1>Hola {{name}}</h1>
<!-- 
        <img src = "{{ user_image }}" alt = "Imagen de prueba"> -->

        <p style="padding: 10px; border: 2px solid rgb(221, 112, 40);">{{caja_pregunta}}</p>

        <p style="padding: 10px; border: 2px solid red;">{{caja_respuesta}}</p>

        <form method="post" action="/">
            <button type="submit" name="voz">Voz</button>
        </form>

        

        <h1>Usted dijo -> {{forward_message}}</h1>


        
    </body>


</html>